.education {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    /* box-shadow: 0 0 1rem 0.5rem #00000033;
    box-sizing: border-box; Importante: hace que el padding no se sume al width */
}

.education_section {
    margin-block: 1rem;
}

.education__header {
    display: flex;
    justify-content: left;
    justify-content: space-between;
    color: #6B7280;
    
}

.education__header p{
    margin:0
}

.education__course {
    font-size: .875rem;
    line-height: 1.25rem;
    text-wrap: pretty;
    color: #6B7280;
    text-align: justify;
}

.education__course p{
    margin: 0;
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 767px) { 
    .education__header{
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        margin-bottom: 0.5rem;
    }
  }