
/* en la etiqueta information existen dos secciones 
    information__left y information__right donde information__left
    ocupa el 70% del ancho y information__right el 30% del ancho

*/

.information {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 2rem;
    /* el contenedor debe ser redondeado y con un efecto difuminado en los bordes */
    /* border-radius: 2rem;
    box-shadow: 0 0 1rem 0.5rem #00000033; */
}

.information__left {
    width: 70%;
}

.slogan{
    margin-right: 8rem;
    text-align: justify;
    font-size: .875rem;
    font-weight: lighter;
    color:#6B7280;
    line-height: 1.25rem;
    text-wrap: pretty;
}

.ubication{
    display: flex;
    align-items: center;
}

.information__right {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos {
    display: flex;
    gap: 0.25rem; /* gap-x-1 */
    padding-top: 0.25rem; /* pt-1 */
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* font-mono */
    font-size: 0.875rem; /* text-sm */
    color: rgb(107, 114, 128); /* text-muted-foreground */
}

@media print {
    .iconos {
        display: none; /* print:hidden */
    }
}

.icono {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.375rem; /* rounded-md */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    height: 2rem; /* h-8 */
    width: 2rem; /* w-8 */
    border: 1px solid rgb(226, 232, 240); /* border border-input */
    background-color: rgb(255, 255, 255); /* bg-background */
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.icono:hover {
    background-color: rgb(243, 244, 246); /* hover:bg-accent */
    color: rgb(36, 39, 17); /* hover:text-accent-foreground */
}

.icono:focus-visible {
    outline: none;
    /* ring: 2px solid rgb(59, 130, 246);
    ring-offset: 2px; */
}

.icono:disabled {
    pointer-events: none;
    opacity: 0.5;
}
  .foto{
    height: max-content;
    border-radius: 2rem;
  }
  
  